@import "tailwindcss";

@theme {
  --color-navy-950: #0B1524;
  --color-navy-900: #181F2B;
  --color-navy-850: #1B2330;
  --color-navy-800: #202A3C;
  --color-navy-50: #DFE4F0;

  --color-blue-300: #62E0D9;
  --color-blue-250: #8ADAE3;

  --color-red-500: #FF4242;
  
  --color-gray-400: #C0C0C0;

  --font-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", Arial;
  --text-base: 14px;
  --leading-base: 150%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Open Sans", sans-serif;
}